## Setup SparkContext and SQLContext

In [1]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext

sparkContext = SparkContext.getOrCreate()
sqlContext = SQLContext(sparkContext)

sqlContext

## Load Training Dataset from S3 into Spark

In [51]:
data = sqlContext.read.format("csv") \
  .option("inferSchema", "true").option("header", "true") \
  .load("s3a://datapalooza/R/census.csv")

data.collect()

[Row(age=39, workclass='State-gov', education='Bachelors', education_num=13, marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain=2174, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=50, workclass='Self-emp-not-inc', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=13, native_country='United-States', income='<=50K'),
 Row(age=38, workclass='Private', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=53, workclass='Private', education='11th', education_num=7, marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=28, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Cuba', income='<=50K'),
 Row(age=37, workclass='Private', education='Masters', education_num=14, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=49, workclass='Private', education='9th', education_num=5, marital_status='Married-spouse-absent', occupation='Other-service', relationship='Not-in-family', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=16, native_country='Jamaica', income='<=50K'),
 Row(age=52, workclass='Self-emp-not-inc', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
 Row(age=31, workclass='Private', education='Masters', education_num=14, marital_status='Never-married', occupation='Prof-specialty', relationship='Not-in-family', race='White', sex='Female', capital_gain=14084, capital_loss=0, hours_per_week=50, native_country='United-States', income='>50K'),
 Row(age=42, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=5178, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=37, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=80, native_country='United-States', income='>50K'),
 Row(age=30, workclass='State-gov', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='Asian-Pac-Islander', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='India', income='>50K'),
 Row(age=23, workclass='Private', education='Bachelors', education_num=13, marital_status='Never-married', occupation='Adm-clerical', relationship='Own-child', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=30, native_country='United-States', income='<=50K'),
 Row(age=32, workclass='Private', education='Assoc-acdm', education_num=12, marital_status='Never-married', occupation='Sales', relationship='Not-in-family', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='<=50K'),
 Row(age=34, workclass='Private', education='7th-8th', education_num=4, marital_status='Married-civ-spouse', occupation='Transport-moving', relationship='Husband', race='Amer-Indian-Eskimo', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='Mexico', income='<=50K'),
 Row(age=25, workclass='Self-emp-not-inc', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Farming-fishing', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=35, native_country='United-States', income='<=50K'),
 Row(age=32, workclass='Private', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Unmarried', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=38, workclass='Private', education='11th', education_num=7, marital_status='Married-civ-spouse', occupation='Sales', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='<=50K'),
 Row(age=43, workclass='Self-emp-not-inc', education='Masters', education_num=14, marital_status='Divorced', occupation='Exec-managerial', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
 Row(age=40, workclass='Private', education='Doctorate', education_num=16, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=60, native_country='United-States', income='>50K'),
 Row(age=54, workclass='Private', education='HS-grad', education_num=9, marital_status='Separated', occupation='Other-service', relationship='Unmarried', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=20, native_country='United-States', income='<=50K'),
 Row(age=35, workclass='Federal-gov', education='9th', education_num=5, marital_status='Married-civ-spouse', occupation='Farming-fishing', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=43, workclass='Private', education='11th', education_num=7, marital_status='Married-civ-spouse', occupation='Transport-moving', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=2042, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=59, workclass='Private', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Tech-support', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=56, workclass='Local-gov', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Tech-support', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=19, workclass='Private', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Craft-repair', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=39, workclass='Private', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=80, native_country='United-States', income='<=50K'),
 Row(age=49, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Craft-repair', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=23, workclass='Local-gov', education='Assoc-acdm', education_num=12, marital_status='Never-married', occupation='Protective-serv', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=52, native_country='United-States', income='<=50K'),
 Row(age=20, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Sales', relationship='Own-child', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=44, native_country='United-States', income='<=50K'),
 Row(age=45, workclass='Private', education='Bachelors', education_num=13, marital_status='Divorced', occupation='Exec-managerial', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=1408, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=30, workclass='Federal-gov', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Adm-clerical', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=22, workclass='State-gov', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Other-service', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=15, native_country='United-States', income='<=50K'),
 Row(age=48, workclass='Private', education='11th', education_num=7, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Unmarried', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Puerto-Rico', income='<=50K'),
 Row(age=21, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=19, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-AF-spouse', occupation='Adm-clerical', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=25, native_country='United-States', income='<=50K'),
 Row(age=48, workclass='Self-emp-not-inc', education='Assoc-acdm', education_num=12, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=31, workclass='Private', education='9th', education_num=5, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=43, native_country='United-States', income='<=50K'),
 Row(age=53, workclass='Self-emp-not-inc', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=24, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Tech-support', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='<=50K'),
 Row(age=49, workclass='Private', education='HS-grad', education_num=9, marital_status='Separated', occupation='Adm-clerical', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=25, workclass='Private', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=35, native_country='United-States', income='<=50K'),
 Row(age=57, workclass='Federal-gov', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=53, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=38, native_country='United-States', income='<=50K'),
 Row(age=44, workclass='Private', education='Masters', education_num=14, marital_status='Divorced', occupation='Exec-managerial', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=41, workclass='State-gov', education='Assoc-voc', education_num=11, marital_status='Married-civ-spouse', occupation='Craft-repair', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=29, workclass='Private', education='Assoc-voc', education_num=11, marital_status='Never-married', occupation='Prof-specialty', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=43, native_country='United-States', income='<=50K'),
 Row(age=25, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Wife', race='Other', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=47, workclass='Private', education='Prof-school', education_num=15, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=1902, hours_per_week=60, native_country='Honduras', income='>50K'),
 Row(age=50, workclass='Federal-gov', education='Bachelors', education_num=13, marital_status='Divorced', occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=55, native_country='United-States', income='>50K'),
 Row(age=47, workclass='Self-emp-inc', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=60, native_country='United-States', income='<=50K'),
 Row(age=43, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Tech-support', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=46, workclass='Private', education='5th-6th', education_num=3, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Mexico', income='<=50K'),
 Row(age=35, workclass='Private', education='Assoc-voc', education_num=11, marital_status='Married-civ-spouse', occupation='Other-service', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Puerto-Rico', income='<=50K'),
 Row(age=41, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Adm-clerical', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=48, native_country='United-States', income='<=50K'),
 Row(age=30, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=5013, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=30, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Sales', relationship='Husband', race='White', sex='Male', capital_gain=2407, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=48, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Transport-moving', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=42, workclass='Private', education='Doctorate', education_num=16, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
 Row(age=29, workclass='Private', education='Some-college', education_num=10, marital_status='Divorced', occupation='Tech-support', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=58, native_country='United-States', income='<=50K'),
 Row(age=36, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Craft-repair', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=28, workclass='Private', education='Some-college', education_num=10, marital_status='Divorced', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=53, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Adm-clerical', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=49, workclass='Self-emp-inc', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='>50K'),
 Row(age=19, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Prof-specialty', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=32, native_country='United-States', income='<=50K'),
 Row(age=31, workclass='Private', education='Bachelors', education_num=13, marital_status='Separated', occupation='Sales', relationship='Own-child', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=29, workclass='Self-emp-not-inc', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Sales', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=70, native_country='United-States', income='>50K'),
 Row(age=23, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=79, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Other-relative', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=20, native_country='United-States', income='<=50K'),

## Use Spark ML Pipeline to build Decision Tree Classifier

In [22]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import RFormula
from pyspark.ml.classification import DecisionTreeClassifier

formula = RFormula(formula = "income ~ .")
classifier = DecisionTreeClassifier()
pipeline = Pipeline(stages = [formula, classifier])
pipelineModel = pipeline.fit(data)

pipelineModel

PipelineModel_4660ba8d2ffc85487db1

## Convert Spark ML Pipeline to PMML

In [23]:
from jpmml import toPMMLBytes

pmmlBytes = toPMMLBytes(sparkContext, data, pipelineModel)

pmmlBytes.decode("utf-8")

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?>\n<PMML xmlns="http://www.dmg.org/PMML-4_3" version="4.3">\n\t<Header>\n\t\t<Application/>\n\t\t<Timestamp>2016-10-14T07:06:06Z</Timestamp>\n\t</Header>\n\t<DataDictionary>\n\t\t<DataField name="income" optype="categorical" dataType="string">\n\t\t\t<Value value="&lt;=50K"/>\n\t\t\t<Value value="&gt;50K"/>\n\t\t</DataField>\n\t\t<DataField name="workclass" optype="categorical" dataType="string">\n\t\t\t<Value value="Private"/>\n\t\t\t<Value value="Self-emp-not-inc"/>\n\t\t\t<Value value="Local-gov"/>\n\t\t\t<Value value="State-gov"/>\n\t\t\t<Value value="Self-emp-inc"/>\n\t\t\t<Value value="Federal-gov"/>\n\t\t\t<Value value="Without-pay"/>\n\t\t</DataField>\n\t\t<DataField name="education" optype="categorical" dataType="string">\n\t\t\t<Value value="HS-grad"/>\n\t\t\t<Value value="Some-college"/>\n\t\t\t<Value value="Bachelors"/>\n\t\t\t<Value value="Masters"/>\n\t\t\t<Value value="Assoc-voc"/>\n\t\t\t<Value value="11th"/>\n\t\t\t<Value value="Assoc-acdm"/>\n\t\t\t<Value value="10th"/>\n\t\t\t<Value value="7th-8th"/>\n\t\t\t<Value value="Prof-school"/>\n\t\t\t<Value value="9th"/>\n\t\t\t<Value value="12th"/>\n\t\t\t<Value value="Doctorate"/>\n\t\t\t<Value value="5th-6th"/>\n\t\t\t<Value value="1st-4th"/>\n\t\t\t<Value value="Preschool"/>\n\t\t</DataField>\n\t\t<DataField name="marital_status" optype="categorical" dataType="string">\n\t\t\t<Value value="Married-civ-spouse"/>\n\t\t\t<Value value="Never-married"/>\n\t\t\t<Value value="Divorced"/>\n\t\t\t<Value value="Separated"/>\n\t\t\t<Value value="Widowed"/>\n\t\t\t<Value value="Married-spouse-absent"/>\n\t\t\t<Value value="Married-AF-spouse"/>\n\t\t</DataField>\n\t\t<DataField name="occupation" optype="categorical" dataType="string">\n\t\t\t<Value value="Craft-repair"/>\n\t\t\t<Value value="Prof-specialty"/>\n\t\t\t<Value value="Exec-managerial"/>\n\t\t\t<Value value="Adm-clerical"/>\n\t\t\t<Value value="Sales"/>\n\t\t\t<Value value="Other-service"/>\n\t\t\t<Value value="Machine-op-inspct"/>\n\t\t\t<Value value="Transport-moving"/>\n\t\t\t<Value value="Handlers-cleaners"/>\n\t\t\t<Value value="Farming-fishing"/>\n\t\t\t<Value value="Tech-support"/>\n\t\t\t<Value value="Protective-serv"/>\n\t\t\t<Value value="Priv-house-serv"/>\n\t\t\t<Value value="Armed-Forces"/>\n\t\t</DataField>\n\t\t<DataField name="native_country" optype="categorical" dataType="string">\n\t\t\t<Value value="United-States"/>\n\t\t\t<Value value="Mexico"/>\n\t\t\t<Value value="Philippines"/>\n\t\t\t<Value value="Germany"/>\n\t\t\t<Value value="Puerto-Rico"/>\n\t\t\t<Value value="Canada"/>\n\t\t\t<Value value="India"/>\n\t\t\t<Value value="El-Salvador"/>\n\t\t\t<Value value="Cuba"/>\n\t\t\t<Value value="England"/>\n\t\t\t<Value value="China"/>\n\t\t\t<Value value="Jamaica"/>\n\t\t\t<Value value="South"/>\n\t\t\t<Value value="Italy"/>\n\t\t\t<Value value="Dominican-Republic"/>\n\t\t\t<Value value="Japan"/>\n\t\t\t<Value value="Guatemala"/>\n\t\t\t<Value value="Vietnam"/>\n\t\t\t<Value value="Columbia"/>\n\t\t\t<Value value="Poland"/>\n\t\t\t<Value value="Haiti"/>\n\t\t\t<Value value="Portugal"/>\n\t\t\t<Value value="Iran"/>\n\t\t\t<Value value="Taiwan"/>\n\t\t\t<Value value="Greece"/>\n\t\t\t<Value value="Nicaragua"/>\n\t\t\t<Value value="Peru"/>\n\t\t\t<Value value="Ecuador"/>\n\t\t\t<Value value="Ireland"/>\n\t\t\t<Value value="France"/>\n\t\t\t<Value value="Thailand"/>\n\t\t\t<Value value="Hong"/>\n\t\t\t<Value value="Trinadad&amp;Tobago"/>\n\t\t\t<Value value="Cambodia"/>\n\t\t\t<Value value="Yugoslavia"/>\n\t\t\t<Value value="Outlying-US(Guam-USVI-etc)"/>\n\t\t\t<Value value="Laos"/>\n\t\t\t<Value value="Scotland"/>\n\t\t\t<Value value="Honduras"/>\n\t\t\t<Value value="Hungary"/>\n\t\t\t<Value value="Holand-Netherlands"/>\n\t\t</DataField>\n\t\t<DataField name="age" optype="continuous" dataType="integer"/>\n\t\t<DataField name="education_num" optype="continuous" dataType="integer"/>\n\t\t<DataField name="capital_gain" optype="continuous" dataType="integer"/>\n\t\t<DataField name="capital_loss" optype="continuous" dataType="integer"/>\n\t\t<DataField name="hours_per_week" optype="continuous" dataType="integer"/>\n\t</DataDictionary>\n\t<TreeModel functionName="classification" splitCharacteristic="binarySplit">\n\t\t<MiningSchema>\n\t\t\t<MiningField name="income" usageType="target"/>\n\t\t\t<MiningField name="workclass"/>\n\t\t\t<MiningField name="education"/>\n\t\t\t<MiningField name="marital_status"/>\n\t\t\t<MiningField name="occupation"/>\n\t\t\t<MiningField name="native_country"/>\n\t\t\t<MiningField name="age"/>\n\t\t\t<MiningField name="education_num"/>\n\t\t\t<MiningField name="capital_gain"/>\n\t\t\t<MiningField name="capital_loss"/>\n\t\t\t<MiningField name="hours_per_week"/>\n\t\t</MiningSchema>\n\t\t<Output>\n\t\t\t<OutputField name="probability_&lt;=50K" dataType="double" feature="probability" value="&lt;=50K"/>\n\t\t\t<OutputField name="probability_&gt;50K" dataType="double" feature="probability" value="&gt;50K"/>\n\t\t</Output>\n\t\t<Node score="&lt;=50K" recordCount="45222.0">\n\t\t\t<True/>\n\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="34014.0"/>\n\t\t\t<ScoreDistribution value="&gt;50K" recordCount="11208.0"/>\n\t\t\t<Node score="&lt;=50K" recordCount="24167.0">\n\t\t\t\t<SimplePredicate field="marital_status" operator="notEqual" value="Married-civ-spouse"/>\n\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="22523.0"/>\n\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1644.0"/>\n\t\t\t\t<Node score="&lt;=50K" recordCount="23744.0">\n\t\t\t\t\t<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7688"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="22516.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1228.0"/>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="22397.0">\n\t\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="13"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="21525.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="872.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="17985.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="42"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="17578.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="407.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="10453.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="33"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="10374.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="79.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="7532.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="33"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="7204.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="328.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="4412.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="42"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3947.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="465.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="3327.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="education" operator="notEqual" value="Bachelors"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3098.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="229.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1085.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="education" operator="equal" value="Bachelors"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="849.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="236.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="1347.0">\n\t\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="13"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="991.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="356.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="813.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="667.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="146.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="210.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="200.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="10.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="603.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="467.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="136.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="534.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="324.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="210.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="133.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="110.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="23.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="401.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="214.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="187.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t</Node>\n\t\t\t\t<Node score="&gt;50K" recordCount="423.0">\n\t\t\t\t\t<SimplePredicate field="capital_gain" operator="greaterThan" value="7688"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="7.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="416.0"/>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="4.0">\n\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="20"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="3.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education" operator="notEqual" value="Some-college"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="1.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education" operator="equal" value="Some-college"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1.0"/>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t\t<Node score="&gt;50K" recordCount="419.0">\n\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="20"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="4.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="415.0"/>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="394.0">\n\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="64"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="393.0"/>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="42.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="workclass" operator="equal" value="Self-emp-not-inc"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="41.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="352.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="workclass" operator="notEqual" value="Self-emp-not-inc"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="352.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="25.0">\n\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="64"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="22.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="marital_status" operator="equal" value="Married-spouse-absent"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="24.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="marital_status" operator="notEqual" value="Married-spouse-absent"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="2.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="22.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t</Node>\n\t\t\t</Node>\n\t\t\t<Node score="&lt;=50K" recordCount="21055.0">\n\t\t\t\t<SimplePredicate field="marital_status" operator="equal" value="Married-civ-spouse"/>\n\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="11491.0"/>\n\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="9564.0"/>\n\t\t\t\t<Node score="&lt;=50K" recordCount="14790.0">\n\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="12"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="9782.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="5008.0"/>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="13823.0">\n\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="lessOrEqual" value="3942"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="9604.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="4219.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="2268.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="8"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="2029.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="239.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1709.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1573.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="136.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="559.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="456.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="103.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="11555.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="8"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="7575.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3980.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="11081.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="capital_loss" operator="lessOrEqual" value="1825"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="7465.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3616.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="474.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="capital_loss" operator="greaterThan" value="1825"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="110.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="364.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t\t<Node score="&gt;50K" recordCount="967.0">\n\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="greaterThan" value="3942"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="178.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="789.0"/>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="738.0">\n\t\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7688"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="168.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="570.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="21.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="29"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="14.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="7.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="717.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="29"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="154.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="563.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="229.0">\n\t\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="greaterThan" value="7688"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="10.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="219.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="3.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="4"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="2.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="226.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="4"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="8.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="218.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t</Node>\n\t\t\t\t<Node score="&gt;50K" recordCount="6265.0">\n\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="12"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1709.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="4556.0"/>\n\t\t\t\t\t<Node score="&gt;50K" recordCount="5253.0">\n\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="lessOrEqual" value="3942"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1663.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3590.0"/>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="4700.0">\n\t\t\t\t\t\t\t<SimplePredicate field="capital_loss" operator="lessOrEqual" value="1825"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1646.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3054.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="384.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="34"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="227.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="157.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="4316.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="34"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1419.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="2897.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="553.0">\n\t\t\t\t\t\t\t<SimplePredicate field="capital_loss" operator=

## Deployment Option 1:  Mutable Model Deployment

### Deploy PMML to Live Prediction Server

In [10]:
import urllib.request

update_url = 'http://prediction:9040/update-pmml/census'

update_headers = {}
update_headers['Content-type'] = 'application/json'

req = urllib.request.Request(update_url, headers=update_headers, data=pmmlBytes)
resp = urllib.request.urlopen(req)

print(resp.status) # Should return Http Status 200

200

### Test New Model on Live Prediction Server

In [11]:
import urllib.parse
import json

evaluate_url = 'http://prediction:9040/evaluate-pmml/census'

evaluate_headers = {}
evaluate_headers['Content-type'] = 'application/json'
input_params = '{"age":39,"workclass":"State-gov","education":"Bachelors","education_num":13,"marital_status":"Never-married","occupation":"Adm-clerical","relationship":"Not-in-family","race":"White","sex":"Male","capital_gain":2174,"capital_loss":0,"hours_per_week":40,"native_country":"United-States"}' 
encoded_input_params = input_params.encode('utf-8')

req = urllib.request.Request(evaluate_url, headers=evaluate_headers, data=encoded_input_params)
resp = urllib.request.urlopen(req)

print(resp.read()) # Should return valid classification with probabilities

b'{"results":[{\'income\': \'NodeScoreDistribution{result=<=50K, probability_entries=[<=50K=0.9564524694636218, >50K=0.04354753053637812], entityId=7, confidence_entries=[]}\'}]}'

## Deployment Option 2:  Immutable Model Deployment

### Deploy New Prediction Service with New Model as a [Canary](http://martinfowler.com/bliki/CanaryRelease.html) Release

In [55]:
!mkdir -p pmml

with open('pmml/census.pmml', 'wb') as f:
  f.write(pmmlBytes)

!cat pmml/census.pmml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<PMML xmlns="http://www.dmg.org/PMML-4_3" version="4.3">
	<Header>
		<Application/>
		<Timestamp>2016-10-14T07:06:06Z</Timestamp>
	</Header>
	<DataDictionary>
		<DataField name="income" optype="categorical" dataType="string">
			<Value value="&lt;=50K"/>
			<Value value="&gt;50K"/>
		</DataField>
		<DataField name="workclass" optype="categorical" dataType="string">
			<Value value="Private"/>
			<Value value="Self-emp-not-inc"/>
			<Value value="Local-gov"/>
			<Value value="State-gov"/>
			<Value value="Self-emp-inc"/>
			<Value value="Federal-gov"/>
			<Value value="Without-pay"/>
		</DataField>
		<DataField name="education" optype="categorical" dataType="string">
			<Value value="HS-grad"/>
			<Value value="Some-college"/>
			<Value value="Bachelors"/>
			<Value value="Masters"/>
			<Value value="Assoc-voc"/>
			<Value value="11th"/>
			<Value value="Assoc-acdm"/>
			<Value value="10th"/>
			<Value value="7th-8th"/>
			<Value value="Prof-school"/>
			<Value value="9th"/>
			<Value value="12th"/>
			<Value value="Doctorate"/>
			<Value value="5th-6th"/>
			<Value value="1st-4th"/>
			<Value value="Preschool"/>
		</DataField>
		<DataField name="marital_status" optype="categorical" dataType="string">
			<Value value="Married-civ-spouse"/>
			<Value value="Never-married"/>
			<Value value="Divorced"/>
			<Value value="Separated"/>
			<Value value="Widowed"/>
			<Value value="Married-spouse-absent"/>
			<Value value="Married-AF-spouse"/>
		</DataField>
		<DataField name="occupation" optype="categorical" dataType="string">
			<Value value="Craft-repair"/>
			<Value value="Prof-specialty"/>
			<Value value="Exec-managerial"/>
			<Value value="Adm-clerical"/>
			<Value value="Sales"/>
			<Value value="Other-service"/>
			<Value value="Machine-op-inspct"/>
			<Value value="Transport-moving"/>
			<Value value="Handlers-cleaners"/>
			<Value value="Farming-fishing"/>
			<Value value="Tech-support"/>
			<Value value="Protective-serv"/>
			<Value value="Priv-house-serv"/>
			<Value value="Armed-Forces"/>
		</DataField>
		<DataField name="native_country" optype="categorical" dataType="string">
			<Value value="United-States"/>
			<Value value="Mexico"/>
			<Value value="Philippines"/>
			<Value value="Germany"/>
			<Value value="Puerto-Rico"/>
			<Value value="Canada"/>
			<Value value="India"/>
			<Value value="El-Salvador"/>
			<Value value="Cuba"/>
			<Value value="England"/>
			<Value value="China"/>
			<Value value="Jamaica"/>
			<Value value="South"/>
			<Value value="Italy"/>
			<Value value="Dominican-Republic"/>
			<Value value="Japan"/>
			<Value value="Guatemala"/>
			<Value value="Vietnam"/>
			<Value value="Columbia"/>
			<Value value="Poland"/>
			<Value value="Haiti"/>
			<Value value="Portugal"/>
			<Value value="Iran"/>
			<Value value="Taiwan"/>
			<Value value="Greece"/>
			<Value value="Nicaragua"/>
			<Value value="Peru"/>
			<Value value="Ecuador"/>
			<Value value="Ireland"/>
			<Value value="France"/>
			<Value value="Thailand"/>
			<Value value="Hong"/>
			<Value value="Trinadad&amp;Tobago"/>
			<Value value="Cambodia"/>
			<Value value="Yugoslavia"/>
			<Value value="Outlying-US(Guam-USVI-etc)"/>
			<Value value="Laos"/>
			<Value value="Scotland"/>
			<Value value="Honduras"/>
			<Value value="Hungary"/>
			<Value value="Holand-Netherlands"/>
		</DataField>
		<DataField name="age" optype="continuous" dataType="integer"/>
		<DataField name="education_num" optype="continuous" dataType="integer"/>
		<DataField name="capital_gain" optype="continuous" dataType="integer"/>
		<DataField name="capital_loss" optype="continuous" dataType="integer"/>
		<DataField name="hours_per_week" optype="continuous" dataType="integer"/>
	</DataDictionary>
	<TreeModel functionName="classification" splitCharacteristic="binarySplit">
		<MiningSchema>
			<MiningField name="income" usageType="target"/>
			<MiningField name="workclass"/>
			<MiningField name="education"/>
			<MiningField name="marital_status"/>
			<MiningField name="occupation"/>
			<MiningField name="native_country"/>
			<MiningField name="age"/>
			<MiningField name="education_num"/>
			<MiningField name="capital_gain"/>
			<MiningField name="capital_loss"/>
			<MiningField name="hours_per_week"/>
		</MiningSchema>
		<Output>
			<OutputField name="probability_&lt;=50K" dataType="double" feature="probability" value="&lt;=50K"/>
			<OutputField name="probability_&gt;50K" dataType="double" feature="probability" value="&gt;50K"/>
		</Output>
		<Node score="&lt;=50K" recordCount="45222.0">
			<True/>
			<ScoreDistribution value="&lt;=50K" recordCount="34014.0"/>
			<ScoreDistribution value="&gt;50K" recordCount="11208.0"/>
			<Node score="&lt;=50K" recordCount="24167.0">
				<SimplePredicate field="marital_status" operator="notEqual" value="Married-civ-spouse"/>
				<ScoreDistribution value="&lt;=50K" recordCount="22523.0"/>
				<ScoreDistribution value="&gt;50K" recordCount="1644.0"/>
				<Node score="&lt;=50K" recordCount="23744.0">
					<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7688"/>
					<ScoreDistribution value="&lt;=50K" recordCount="22516.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="1228.0"/>
					<Node score="&lt;=50K" recordCount="22397.0">
						<SimplePredicate field="education_num" operator="lessOrEqual" value="13"/>
						<ScoreDistribution value="&lt;=50K" recordCount="21525.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="872.0"/>
						<Node score="&lt;=50K" recordCount="17985.0">
							<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="42"/>
							<ScoreDistribution value="&lt;=50K" recordCount="17578.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="407.0"/>
							<Node score="&lt;=50K" recordCount="10453.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="33"/>
								<ScoreDistribution value="&lt;=50K" recordCount="10374.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="79.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="7532.0">
								<SimplePredicate field="age" operator="greaterThan" value="33"/>
								<ScoreDistribution value="&lt;=50K" recordCount="7204.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="328.0"/>
							</Node>
						</Node>
						<Node score="&lt;=50K" recordCount="4412.0">
							<SimplePredicate field="hours_per_week" operator="greaterThan" value="42"/>
							<ScoreDistribution value="&lt;=50K" recordCount="3947.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="465.0"/>
							<Node score="&lt;=50K" recordCount="3327.0">
								<SimplePredicate field="education" operator="notEqual" value="Bachelors"/>
								<ScoreDistribution value="&lt;=50K" recordCount="3098.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="229.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="1085.0">
								<SimplePredicate field="education" operator="equal" value="Bachelors"/>
								<ScoreDistribution value="&lt;=50K" recordCount="849.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="236.0"/>
							</Node>
						</Node>
					</Node>
					<Node score="&lt;=50K" recordCount="1347.0">
						<SimplePredicate field="education_num" operator="greaterThan" value="13"/>
						<ScoreDistribution value="&lt;=50K" recordCount="991.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="356.0"/>
						<Node score="&lt;=50K" recordCount="813.0">
							<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>
							<ScoreDistribution value="&lt;=50K" recordCount="667.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="146.0"/>
							<Node score="&lt;=50K" recordCount="210.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="200.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="10.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="603.0">
								<SimplePredicate field="age" operator="greaterThan" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="467.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="136.0"/>
							</Node>
						</Node>
						<Node score="&lt;=50K" recordCount="534.0">
							<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>
							<ScoreDistribution value="&lt;=50K" recordCount="324.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="210.0"/>
							<Node score="&lt;=50K" recordCount="133.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="110.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="23.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="401.0">
								<SimplePredicate field="age" operator="greaterThan" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="214.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="187.0"/>
							</Node>
						</Node>
					</Node>
				</Node>
				<Node score="&gt;50K" recordCount="423.0">
					<SimplePredicate field="capital_gain" operator="greaterThan" value="7688"/>
					<ScoreDistribution value="&lt;=50K" recordCount="7.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="416.0"/>
					<Node score="&lt;=50K" recordCount="4.0">
						<SimplePredicate field="age" operator="lessOrEqual" value="20"/>
						<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="1.0"/>
						<Node score="&lt;=50K" recordCount="3.0">
							<SimplePredicate field="education" operator="notEqual" value="Some-college"/>
							<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>
						</Node>
						<Node score="&gt;50K" recordCount="1.0">
							<SimplePredicate field="education" operator="equal" value="Some-college"/>
							<ScoreDistribution value="&gt;50K" recordCount="1.0"/>
						</Node>
					</Node>
					<Node score="&gt;50K" recordCount="419.0">
						<SimplePredicate field="age" operator="greaterThan" value="20"/>
						<ScoreDistribution value="&lt;=50K" recordCount="4.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="415.0"/>
						<Node score="&gt;50K" recordCount="394.0">
							<SimplePredicate field="age" operator="lessOrEqual" value="64"/>
							<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="393.0"/>
							<Node score="&gt;50K" recordCount="42.0">
								<SimplePredicate field="workclass" operator="equal" value="Self-emp-not-inc"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="41.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="352.0">
								<SimplePredicate field="workclass" operator="notEqual" value="Self-emp-not-inc"/>
								<ScoreDistribution value="&gt;50K" recordCount="352.0"/>
							</Node>
						</Node>
						<Node score="&gt;50K" recordCount="25.0">
							<SimplePredicate field="age" operator="greaterThan" value="64"/>
							<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="22.0"/>
							<Node score="&lt;=50K" recordCount="1.0">
								<SimplePredicate field="marital_status" operator="equal" value="Married-spouse-absent"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="24.0">
								<SimplePredicate field="marital_status" operator="notEqual" value="Married-spouse-absent"/>
								<ScoreDistribution value="&lt;=50K" recordCount="2.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="22.0"/>
							</Node>
						</Node>
					</Node>
				</Node>
			</Node>
			<Node score="&lt;=50K" recordCount="21055.0">
				<SimplePredicate field="marital_status" operator="equal" value="Married-civ-spouse"/>
				<ScoreDistribution value="&lt;=50K" recordCount="11491.0"/>
				<ScoreDistribution value="&gt;50K" recordCount="9564.0"/>
				<Node score="&lt;=50K" recordCount="14790.0">
					<SimplePredicate field="education_num" operator="lessOrEqual" value="12"/>
					<ScoreDistribution value="&lt;=50K" recordCount="9782.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="5008.0"/>
					<Node score="&lt;=50K" recordCount="13823.0">
						<SimplePredicate field="capital_gain" operator="lessOrEqual" value="3942"/>
						<ScoreDistribution value="&lt;=50K" recordCount="9604.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="4219.0"/>
						<Node score="&lt;=50K" recordCount="2268.0">
							<SimplePredicate field="education_num" operator="lessOrEqual" value="8"/>
							<ScoreDistribution value="&lt;=50K" recordCount="2029.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="239.0"/>
							<Node score="&lt;=50K" recordCount="1709.0">
								<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1573.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="136.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="559.0">
								<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>
								<ScoreDistribution value="&lt;=50K" recordCount="456.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="103.0"/>
							</Node>
						</Node>
						<Node score="&lt;=50K" recordCount="11555.0">
							<SimplePredicate field="education_num" operator="greaterThan" value="8"/>
							<ScoreDistribution value="&lt;=50K" recordCount="7575.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="3980.0"/>
							<Node score="&lt;=50K" recordCount="11081.0">
								<SimplePredicate field="capital_loss" operator="lessOrEqual" value="1825"/>
								<ScoreDistribution value="&lt;=50K" recordCount="7465.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="3616.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="474.0">
								<SimplePredicate field="capital_loss" operator="greaterThan" value="1825"/>
								<ScoreDistribution value="&lt;=50K" recordCount="110.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="364.0"/>
							</Node>
						</Node>
					</Node>
					<Node score="&gt;50K" recordCount="967.0">
						<SimplePredicate field="capital_gain" operator="greaterThan" value="3942"/>
						<ScoreDistribution value="&lt;=50K" recordCount="178.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="789.0"/>
						<Node score="&gt;50K" recordCount="738.0">
							<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7688"/>
							<ScoreDistribution value="&lt;=50K" recordCount="168.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="570.0"/>
							<Node score="&lt;=50K" recordCount="21.0">
								<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="29"/>
								<ScoreDistribution value="&lt;=50K" recordCount="14.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="7.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="717.0">
								<SimplePredicate field="hours_per_week" operator="greaterThan" value="29"/>
								<ScoreDistribution value="&lt;=50K" recordCount="154.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="563.0"/>
							</Node>
						</Node>
						<Node score="&gt;50K" recordCount="229.0">
							<SimplePredicate field="capital_gain" operator="greaterThan" value="7688"/>
							<ScoreDistribution value="&lt;=50K" recordCount="10.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="219.0"/>
							<Node score="&lt;=50K" recordCount="3.0">
								<SimplePredicate field="education_num" operator="lessOrEqual" value="4"/>
								<ScoreDistribution value="&lt;=50K" recordCount="2.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="1.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="226.0">
								<SimplePredicate field="education_num" operator="greaterThan" value="4"/>
								<ScoreDistribution value="&lt;=50K" recordCount="8.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="218.0"/>
							</Node>
						</Node>
					</Node>
				</Node>
				<Node score="&gt;50K" recordCount="6265.0">
					<SimplePredicate field="education_num" operator="greaterThan" value="12"/>
					<ScoreDistribution value="&lt;=50K" recordCount="1709.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="4556.0"/>
					<Node score="&gt;50K" recordCount="5253.0">
						<SimplePredicate field="capital_gain" operator="lessOrEqual" value="3942"/>
						<ScoreDistribution value="&lt;=50K" recordCount="1663.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="3590.0"/>
						<Node score="&gt;50K" recordCount="4700.0">
							<SimplePredicate field="capital_loss" operator="lessOrEqual" value="1825"/>
							<ScoreDistribution value="&lt;=50K" recordCount="1646.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="3054.0"/>
							<Node score="&lt;=50K" recordCount="384.0">
								<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="34"/>
								<ScoreDistribution value="&lt;=50K" recordCount="227.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="157.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="4316.0">
								<SimplePredicate field="hours_per_week" operator="greaterThan" value="34"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1419.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="2897.0"/>
							</Node>
						</Node>
						<Node score="&gt;50K" recordCount="553.0">
							<SimplePredicate field="capital_loss" operator="greaterThan" value="1825"/>
							<ScoreDistribution value="&lt;=50K" recordCount="17.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="536.0"/>
							<Node score="&lt;=50K" recordCount="2.0">
								<SimplePredicate field="native_country" operator="equal" value="Iran"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="1.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="551.0">
								<SimplePredicate field="native_country" operator="notEqual" value="Iran"/>
								<ScoreDistribution value="&lt;=50K" recordCount="16.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="535.0"/>
							</Node>
						</Node>
					</Node>
					<Node score="&gt;50K" recordCount="1012.0">
						<SimplePredicate field="capital_gain" operator="greaterThan" value="3942"/>
						<ScoreDistribution value="&lt;=50K" recordCount="46.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="966.0"/>
						<Node score="&gt;50K" recordCount="467.0">
							<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7688"/>
							<ScoreDistribution value="&lt;=50K" recordCount="44.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="423.0"/>
							<Node score="&lt;=50K" recordCount="7.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="26"/>
								<ScoreDistribution value="&lt;=50K" recordCount="4.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="3.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="460.0">
								<SimplePredicate field="age" operator="greaterThan" value="26"/>
								<ScoreDistribution value="&lt;=50K" recordCount="40.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="420.0"/>
							</Node>
						</Node>
						<Node score="&gt;50K" recordCount="545.0">
							<SimplePredicate field="capital_gain" operator="greaterThan" value="7688"/>
							<ScoreDistribution value="&lt;=50K" recordCount="2.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="543.0"/>
							<Node score="&gt;50K" recordCount="6.0">
								<SimplePredicate field="occupation" operator="equal" value="Farming-fishing"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>