## Explore the Environment

### Setup Environment

In [58]:
!wget -O /root/datasticks-switch-aws.sh https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-switch-aws.sh \
&& wget -O /root/datasticks-switch-gcp.sh https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-switch-gcp.sh \
&& wget -O /root/datasticks-scale-prediction-down.sh https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-prediction-down.sh \
&& wget -O /root/datasticks-scale-prediction-up.sh https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-prediction-up.sh \
&& wget -O /root/datasticks-scale-spark-down.sh https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-spark-down.sh \
&& wget -O /root/datasticks-scale-spark-up.sh https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-spark-up.sh

--2016-11-07 17:10:33--  https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-switch-aws.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.52.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.52.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 213 [text/plain]
Saving to: '/root/datasticks-switch-aws.sh'

100%[======================================>] 213         --.-K/s   in 0s

2016-11-07 17:10:33 (67.2 MB/s) - '/root/datasticks-switch-aws.sh' saved [213/213]

--2016-11-07 17:10:33--  https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-switch-gcp.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.52.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.52.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 213 [text/plain]
Saving to: '/root/datasticks-switch-gcp.sh'

100%[======================================>] 213         --.-K/s   in 0s

2016-11-07 17:10:33 (73.4 MB/s) - '/root/datasticks-switch-gcp.sh' saved [213/213]

--2016-11-07 17:10:33--  https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-prediction-down.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.52.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.52.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 221 [text/plain]
Saving to: '/root/datasticks-scale-prediction-down.sh'

100%[======================================>] 221         --.-K/s   in 0s

2016-11-07 17:10:34 (69.3 MB/s) - '/root/datasticks-scale-prediction-down.sh' saved [221/221]

--2016-11-07 17:10:34--  https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-prediction-up.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.52.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.52.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 221 [text/plain]
Saving to: '/root/datasticks-scale-prediction-up.sh'

100%[======================================>] 221         --.-K/s   in 0s

2016-11-07 17:10:34 (69.4 MB/s) - '/root/datasticks-scale-prediction-up.sh' saved [221/221]

--2016-11-07 17:10:34--  https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-spark-down.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.52.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.52.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 229 [text/plain]
Saving to: '/root/datasticks-scale-spark-down.sh'

100%[======================================>] 229         --.-K/s   in 0s

2016-11-07 17:10:34 (69.0 MB/s) - '/root/datasticks-scale-spark-down.sh' saved [229/229]

--2016-11-07 17:10:34--  https://raw.githubusercontent.com/fluxcapacitor/datasticks.com/master/bin/datasticks-scale-spark-up.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.52.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.52.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 268 [text/plain]
Saving to: '/root/datasticks-scale-spark-up.sh'

100%[======================================>] 268         --.-K/s   in 0s

2016-11-07 17:10:34 (99.1 MB/s) - '/root/datasticks-scale-spark-up.sh' saved [268/268]

### Explore AWS

In [59]:
!/root/datasticks-switch-aws.sh

switched to context "aws_k8s".

In [60]:
!kubectl get pod

NAME                       READY     STATUS    RESTARTS   AGE
airflow-vf2md              1/1       Running   0          1d
airpal-0gqce               1/1       Running   0          1d
apache-yovfe               1/1       Running   0          1d
cassandra-mp6bg            1/1       Running   0          1d
jupyterhub-master-07ulz    1/1       Running   0          1d
kafka-0-10-hraqs           1/1       Running   0          1d
metastore-1-2-1-sadsp      1/1       Running   0          1d
mysql-master-a5kwy         1/1       Running   0          1d
netflix-9smp1              1/1       Running   0          1d
prediction-wr92g           1/1       Running   0          27m
presto-master-2uvy6        1/1       Running   0          1d
presto-worker-lra3n        1/1       Running   0          1d
redis-master-94uc4         1/1       Running   0          1d
spark-master-2-0-1-kf24h   1/1       Running   0          1d
spark-worker-2-0-1-mcfn1   1/1       Running   0          1d
weavescope-app-cqrsz       1/1       Running   0          1d
weavescope-probe-cu7a7     1/1       Running   0          1d
weavescope-probe-kh2ut     1/1       Running   0          1d
zeppelin-master-78gr0      1/1       Running   0          1d
zookeeper-o0fsw            1/1       Running   0          1d

http://kubernetes-aws.demo.datasticks.com/

### Explore Google Cloud

In [61]:
!/root/datasticks-switch-gcp.sh

switched to context "gcp_k8s".

In [62]:
!kubectl get pod

error: You must be logged in to the server (the server has asked for the client to provide credentials)

http://kubernetes-gcp.demo.datasticks.com/

## Scale Up Spark Cluster

In [38]:
!/root/datasticks-switch-aws.sh

switched to context "aws_k8s".

In [39]:
!kubectl get pod

NAME                       READY     STATUS    RESTARTS   AGE
airflow-vf2md              1/1       Running   0          15h
airpal-0gqce               1/1       Running   0          15h
apache-yovfe               1/1       Running   0          15h
cassandra-mp6bg            1/1       Running   0          15h
jupyterhub-master-07ulz    1/1       Running   0          15h
kafka-0-10-hraqs           1/1       Running   0          15h
metastore-1-2-1-sadsp      1/1       Running   0          15h
mysql-master-a5kwy         1/1       Running   0          15h
netflix-9smp1              1/1       Running   0          15h
prediction-90l0w           1/1       Running   0          39m
presto-master-2uvy6        1/1       Running   0          15h
presto-worker-lra3n        1/1       Running   0          15h
redis-master-94uc4         1/1       Running   0          15h
spark-master-2-0-1-kf24h   1/1       Running   0          15h
spark-worker-2-0-1-mcfn1   1/1       Running   0          15h
weavescope-app-cqrsz       1/1       Running   0          4h
weavescope-probe-cu7a7     1/1       Running   0          4h
weavescope-probe-kh2ut     1/1       Running   0          4h
zeppelin-master-78gr0      1/1       Running   0          15h
zookeeper-o0fsw            1/1       Running   0          15h

In [40]:
!/root/datasticks-scale-spark-up.sh

replicationcontroller "spark-worker-2-0-1" scaled

In [41]:
!kubectl get pod

NAME                       READY     STATUS    RESTARTS   AGE
airflow-vf2md              1/1       Running   0          15h
airpal-0gqce               1/1       Running   0          15h
apache-yovfe               1/1       Running   0          15h
cassandra-mp6bg            1/1       Running   0          15h
jupyterhub-master-07ulz    1/1       Running   0          15h
kafka-0-10-hraqs           1/1       Running   0          15h
metastore-1-2-1-sadsp      1/1       Running   0          15h
mysql-master-a5kwy         1/1       Running   0          15h
netflix-9smp1              1/1       Running   0          15h
prediction-90l0w           1/1       Running   0          42m
presto-master-2uvy6        1/1       Running   0          15h
presto-worker-lra3n        1/1       Running   0          15h
redis-master-94uc4         1/1       Running   0          15h
spark-master-2-0-1-kf24h   1/1       Running   0          15h
spark-worker-2-0-1-3x8k3   1/1       Running   0          2m
spark-worker-2-0-1-8ulev   1/1       Running   0          2m
spark-worker-2-0-1-cucr7   1/1       Running   0          2m
spark-worker-2-0-1-mcfn1   1/1       Running   0          15h
spark-worker-2-0-1-trmq8   1/1       Running   0          2m
weavescope-app-cqrsz       1/1       Running   0          4h
weavescope-probe-cu7a7     1/1       Running   0          4h
weavescope-probe-kh2ut     1/1       Running   0          4h
zeppelin-master-78gr0      1/1       Running   0          15h
zookeeper-o0fsw            1/1       Running   0          15h

http://kubernetes-aws.demo.datasticks.com/

## Generate a Model

### Setup SparkSession

In [42]:
from pyspark.sql import SparkSession

sparkSession = SparkSession.builder.getOrCreate()

### Load Training Dataset from S3 into Spark

In [10]:
data = sparkSession.read.format("csv") \
  .option("inferSchema", "true").option("header", "true") \
  .load("s3a://datapalooza/R/census.csv")

data.collect()

[Row(age=39, workclass='State-gov', education='Bachelors', education_num=13, marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain=2174, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=50, workclass='Self-emp-not-inc', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=13, native_country='United-States', income='<=50K'),
 Row(age=38, workclass='Private', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=53, workclass='Private', education='11th', education_num=7, marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=28, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Cuba', income='<=50K'),
 Row(age=37, workclass='Private', education='Masters', education_num=14, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=49, workclass='Private', education='9th', education_num=5, marital_status='Married-spouse-absent', occupation='Other-service', relationship='Not-in-family', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=16, native_country='Jamaica', income='<=50K'),
 Row(age=52, workclass='Self-emp-not-inc', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
 Row(age=31, workclass='Private', education='Masters', education_num=14, marital_status='Never-married', occupation='Prof-specialty', relationship='Not-in-family', race='White', sex='Female', capital_gain=14084, capital_loss=0, hours_per_week=50, native_country='United-States', income='>50K'),
 Row(age=42, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=5178, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=37, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=80, native_country='United-States', income='>50K'),
 Row(age=30, workclass='State-gov', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='Asian-Pac-Islander', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='India', income='>50K'),
 Row(age=23, workclass='Private', education='Bachelors', education_num=13, marital_status='Never-married', occupation='Adm-clerical', relationship='Own-child', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=30, native_country='United-States', income='<=50K'),
 Row(age=32, workclass='Private', education='Assoc-acdm', education_num=12, marital_status='Never-married', occupation='Sales', relationship='Not-in-family', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='<=50K'),
 Row(age=34, workclass='Private', education='7th-8th', education_num=4, marital_status='Married-civ-spouse', occupation='Transport-moving', relationship='Husband', race='Amer-Indian-Eskimo', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='Mexico', income='<=50K'),
 Row(age=25, workclass='Self-emp-not-inc', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Farming-fishing', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=35, native_country='United-States', income='<=50K'),
 Row(age=32, workclass='Private', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Unmarried', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=38, workclass='Private', education='11th', education_num=7, marital_status='Married-civ-spouse', occupation='Sales', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='<=50K'),
 Row(age=43, workclass='Self-emp-not-inc', education='Masters', education_num=14, marital_status='Divorced', occupation='Exec-managerial', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
 Row(age=40, workclass='Private', education='Doctorate', education_num=16, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=60, native_country='United-States', income='>50K'),
 Row(age=54, workclass='Private', education='HS-grad', education_num=9, marital_status='Separated', occupation='Other-service', relationship='Unmarried', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=20, native_country='United-States', income='<=50K'),
 Row(age=35, workclass='Federal-gov', education='9th', education_num=5, marital_status='Married-civ-spouse', occupation='Farming-fishing', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=43, workclass='Private', education='11th', education_num=7, marital_status='Married-civ-spouse', occupation='Transport-moving', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=2042, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=59, workclass='Private', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Tech-support', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=56, workclass='Local-gov', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Tech-support', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=19, workclass='Private', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Craft-repair', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=39, workclass='Private', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=80, native_country='United-States', income='<=50K'),
 Row(age=49, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Craft-repair', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=23, workclass='Local-gov', education='Assoc-acdm', education_num=12, marital_status='Never-married', occupation='Protective-serv', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=52, native_country='United-States', income='<=50K'),
 Row(age=20, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Sales', relationship='Own-child', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=44, native_country='United-States', income='<=50K'),
 Row(age=45, workclass='Private', education='Bachelors', education_num=13, marital_status='Divorced', occupation='Exec-managerial', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=1408, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=30, workclass='Federal-gov', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Adm-clerical', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=22, workclass='State-gov', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Other-service', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=15, native_country='United-States', income='<=50K'),
 Row(age=48, workclass='Private', education='11th', education_num=7, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Unmarried', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Puerto-Rico', income='<=50K'),
 Row(age=21, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=19, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-AF-spouse', occupation='Adm-clerical', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=25, native_country='United-States', income='<=50K'),
 Row(age=48, workclass='Self-emp-not-inc', education='Assoc-acdm', education_num=12, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=31, workclass='Private', education='9th', education_num=5, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=43, native_country='United-States', income='<=50K'),
 Row(age=53, workclass='Self-emp-not-inc', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=24, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Tech-support', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='<=50K'),
 Row(age=49, workclass='Private', education='HS-grad', education_num=9, marital_status='Separated', occupation='Adm-clerical', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=25, workclass='Private', education='HS-grad', education_num=9, marital_status='Never-married', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=35, native_country='United-States', income='<=50K'),
 Row(age=57, workclass='Federal-gov', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=53, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=38, native_country='United-States', income='<=50K'),
 Row(age=44, workclass='Private', education='Masters', education_num=14, marital_status='Divorced', occupation='Exec-managerial', relationship='Unmarried', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=41, workclass='State-gov', education='Assoc-voc', education_num=11, marital_status='Married-civ-spouse', occupation='Craft-repair', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=29, workclass='Private', education='Assoc-voc', education_num=11, marital_status='Never-married', occupation='Prof-specialty', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=43, native_country='United-States', income='<=50K'),
 Row(age=25, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Wife', race='Other', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=47, workclass='Private', education='Prof-school', education_num=15, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=1902, hours_per_week=60, native_country='Honduras', income='>50K'),
 Row(age=50, workclass='Federal-gov', education='Bachelors', education_num=13, marital_status='Divorced', occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=55, native_country='United-States', income='>50K'),
 Row(age=47, workclass='Self-emp-inc', education='HS-grad', education_num=9, marital_status='Divorced', occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=60, native_country='United-States', income='<=50K'),
 Row(age=43, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Tech-support', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=46, workclass='Private', education='5th-6th', education_num=3, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Mexico', income='<=50K'),
 Row(age=35, workclass='Private', education='Assoc-voc', education_num=11, marital_status='Married-civ-spouse', occupation='Other-service', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Puerto-Rico', income='<=50K'),
 Row(age=41, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Adm-clerical', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=48, native_country='United-States', income='<=50K'),
 Row(age=30, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Machine-op-inspct', relationship='Husband', race='White', sex='Male', capital_gain=5013, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=30, workclass='Private', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Sales', relationship='Husband', race='White', sex='Male', capital_gain=2407, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=48, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Transport-moving', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=42, workclass='Private', education='Doctorate', education_num=16, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
 Row(age=29, workclass='Private', education='Some-college', education_num=10, marital_status='Divorced', occupation='Tech-support', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=58, native_country='United-States', income='<=50K'),
 Row(age=36, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Craft-repair', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=28, workclass='Private', education='Some-college', education_num=10, marital_status='Divorced', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=53, workclass='Private', education='HS-grad', education_num=9, marital_status='Married-civ-spouse', occupation='Adm-clerical', relationship='Wife', race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='>50K'),
 Row(age=49, workclass='Self-emp-inc', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States', income='>50K'),
 Row(age=19, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Prof-specialty', relationship='Own-child', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=32, native_country='United-States', income='<=50K'),
 Row(age=31, workclass='Private', education='Bachelors', education_num=13, marital_status='Separated', occupation='Sales', relationship='Own-child', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=29, workclass='Self-emp-not-inc', education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Sales', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=70, native_country='United-States', income='>50K'),
 Row(age=23, workclass='Private', education='Some-college', education_num=10, marital_status='Never-married', occupation='Machine-op-inspct', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
 Row(age=79, workclass='Private', education='Some-college', education_num=10, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Other-relative', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=20, native_country='United-States', income='<=50K'),

### Build Spark ML Pipeline with Decision Tree Classifier

In [11]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import RFormula
from pyspark.ml.classification import DecisionTreeClassifier

formula = RFormula(formula = "income ~ .")
classifier = DecisionTreeClassifier()
pipeline = Pipeline(stages = [formula, classifier])
pipelineModel = pipeline.fit(data)

print(pipelineModel)

PipelineModel_437bb27ef533ffb68cbc

In [12]:
print(pipelineModel.stages[1].toDebugString)

DecisionTreeClassificationModel (uid=DecisionTreeClassifier_43b0ba38be0bdaf4f806) of depth 5 with 57 nodes
  If (feature 23 in {0.0})
   If (feature 52 <= 7443.0)
    If (feature 22 <= 13.0)
     If (feature 54 <= 42.0)
      If (feature 0 <= 33.0)
       Predict: 0.0
      Else (feature 0 > 33.0)
       Predict: 0.0
     Else (feature 54 > 42.0)
      If (feature 9 in {0.0})
       Predict: 0.0
      Else (feature 9 not in {0.0})
       Predict: 0.0
    Else (feature 22 > 13.0)
     If (feature 54 <= 43.0)
      If (feature 0 <= 32.0)
       Predict: 0.0
      Else (feature 0 > 32.0)
       Predict: 0.0
     Else (feature 54 > 43.0)
      If (feature 0 <= 32.0)
       Predict: 0.0
      Else (feature 0 > 32.0)
       Predict: 0.0
   Else (feature 52 > 7443.0)
    If (feature 0 <= 20.0)
     If (feature 8 in {0.0})
      Predict: 0.0
     Else (feature 8 not in {0.0})
      Predict: 1.0
    Else (feature 0 > 20.0)
     If (feature 40 in {1.0})
      If (feature 0 <= 36.0)
       Predict: 1.0
      Else (feature 0 > 36.0)
       Predict: 0.0
     Else (feature 40 not in {1.0})
      If (feature 0 <= 54.0)
       Predict: 1.0
      Else (feature 0 > 54.0)
       Predict: 1.0
  Else (feature 23 not in {0.0})
   If (feature 22 <= 12.0)
    If (feature 52 <= 7443.0)
     If (feature 22 <= 8.0)
      If (feature 54 <= 43.0)
       Predict: 0.0
      Else (feature 54 > 43.0)
       Predict: 0.0
     Else (feature 22 > 8.0)
      If (feature 0 <= 35.0)
       Predict: 0.0
      Else (feature 0 > 35.0)
       Predict: 0.0
    Else (feature 52 > 7443.0)
     If (feature 22 <= 1.0)
      Predict: 0.0
     Else (feature 22 > 1.0)
      If (feature 67 in {1.0})
       Predict: 0.0
      Else (feature 67 not in {1.0})
       Predict: 1.0
   Else (feature 22 > 12.0)
    If (feature 52 <= 7443.0)
     If (feature 53 <= 1825.0)
      If (feature 54 <= 34.0)
       Predict: 0.0
      Else (feature 54 > 34.0)
       Predict: 1.0
     Else (feature 53 > 1825.0)
      If (feature 77 in {1.0})
       Predict: 0.0
      Else (feature 77 not in {1.0})
       Predict: 1.0
    Else (feature 52 > 7443.0)
     If (feature 38 in {1.0})
      If (feature 2 in {1.0})
       Predict: 0.0
      Else (feature 2 not in {1.0})
       Predict: 1.0
     Else (feature 38 not in {1.0})
      If (feature 0 <= 65.0)
       Predict: 1.0
      Else (feature 0 > 65.0)
       Predict: 1.0

## Convert Spark ML Pipeline to PMML

In [13]:
from jpmml import toPMMLBytes

pmmlBytes = toPMMLBytes(sparkSession, data, pipelineModel)

pmmlBytes.decode("utf-8")

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?>\n<PMML xmlns="http://www.dmg.org/PMML-4_3" version="4.3">\n\t<Header>\n\t\t<Application/>\n\t\t<Timestamp>2016-11-06T18:50:11Z</Timestamp>\n\t</Header>\n\t<DataDictionary>\n\t\t<DataField name="income" optype="categorical" dataType="string">\n\t\t\t<Value value="&lt;=50K"/>\n\t\t\t<Value value="&gt;50K"/>\n\t\t</DataField>\n\t\t<DataField name="workclass" optype="categorical" dataType="string">\n\t\t\t<Value value="Private"/>\n\t\t\t<Value value="Self-emp-not-inc"/>\n\t\t\t<Value value="Local-gov"/>\n\t\t\t<Value value="State-gov"/>\n\t\t\t<Value value="Self-emp-inc"/>\n\t\t\t<Value value="Federal-gov"/>\n\t\t\t<Value value="Without-pay"/>\n\t\t</DataField>\n\t\t<DataField name="education" optype="categorical" dataType="string">\n\t\t\t<Value value="HS-grad"/>\n\t\t\t<Value value="Some-college"/>\n\t\t\t<Value value="Bachelors"/>\n\t\t\t<Value value="Masters"/>\n\t\t\t<Value value="Assoc-voc"/>\n\t\t\t<Value value="11th"/>\n\t\t\t<Value value="Assoc-acdm"/>\n\t\t\t<Value value="10th"/>\n\t\t\t<Value value="7th-8th"/>\n\t\t\t<Value value="Prof-school"/>\n\t\t\t<Value value="9th"/>\n\t\t\t<Value value="12th"/>\n\t\t\t<Value value="Doctorate"/>\n\t\t\t<Value value="5th-6th"/>\n\t\t\t<Value value="1st-4th"/>\n\t\t\t<Value value="Preschool"/>\n\t\t</DataField>\n\t\t<DataField name="marital_status" optype="categorical" dataType="string">\n\t\t\t<Value value="Married-civ-spouse"/>\n\t\t\t<Value value="Never-married"/>\n\t\t\t<Value value="Divorced"/>\n\t\t\t<Value value="Separated"/>\n\t\t\t<Value value="Widowed"/>\n\t\t\t<Value value="Married-spouse-absent"/>\n\t\t\t<Value value="Married-AF-spouse"/>\n\t\t</DataField>\n\t\t<DataField name="occupation" optype="categorical" dataType="string">\n\t\t\t<Value value="Craft-repair"/>\n\t\t\t<Value value="Prof-specialty"/>\n\t\t\t<Value value="Exec-managerial"/>\n\t\t\t<Value value="Adm-clerical"/>\n\t\t\t<Value value="Sales"/>\n\t\t\t<Value value="Other-service"/>\n\t\t\t<Value value="Machine-op-inspct"/>\n\t\t\t<Value value="Transport-moving"/>\n\t\t\t<Value value="Handlers-cleaners"/>\n\t\t\t<Value value="Farming-fishing"/>\n\t\t\t<Value value="Tech-support"/>\n\t\t\t<Value value="Protective-serv"/>\n\t\t\t<Value value="Priv-house-serv"/>\n\t\t\t<Value value="Armed-Forces"/>\n\t\t</DataField>\n\t\t<DataField name="native_country" optype="categorical" dataType="string">\n\t\t\t<Value value="United-States"/>\n\t\t\t<Value value="Mexico"/>\n\t\t\t<Value value="Philippines"/>\n\t\t\t<Value value="Germany"/>\n\t\t\t<Value value="Puerto-Rico"/>\n\t\t\t<Value value="Canada"/>\n\t\t\t<Value value="India"/>\n\t\t\t<Value value="El-Salvador"/>\n\t\t\t<Value value="Cuba"/>\n\t\t\t<Value value="England"/>\n\t\t\t<Value value="China"/>\n\t\t\t<Value value="Jamaica"/>\n\t\t\t<Value value="South"/>\n\t\t\t<Value value="Italy"/>\n\t\t\t<Value value="Dominican-Republic"/>\n\t\t\t<Value value="Japan"/>\n\t\t\t<Value value="Guatemala"/>\n\t\t\t<Value value="Vietnam"/>\n\t\t\t<Value value="Columbia"/>\n\t\t\t<Value value="Poland"/>\n\t\t\t<Value value="Haiti"/>\n\t\t\t<Value value="Portugal"/>\n\t\t\t<Value value="Iran"/>\n\t\t\t<Value value="Taiwan"/>\n\t\t\t<Value value="Greece"/>\n\t\t\t<Value value="Nicaragua"/>\n\t\t\t<Value value="Peru"/>\n\t\t\t<Value value="Ecuador"/>\n\t\t\t<Value value="Ireland"/>\n\t\t\t<Value value="France"/>\n\t\t\t<Value value="Thailand"/>\n\t\t\t<Value value="Hong"/>\n\t\t\t<Value value="Trinadad&amp;Tobago"/>\n\t\t\t<Value value="Cambodia"/>\n\t\t\t<Value value="Yugoslavia"/>\n\t\t\t<Value value="Outlying-US(Guam-USVI-etc)"/>\n\t\t\t<Value value="Laos"/>\n\t\t\t<Value value="Scotland"/>\n\t\t\t<Value value="Honduras"/>\n\t\t\t<Value value="Hungary"/>\n\t\t\t<Value value="Holand-Netherlands"/>\n\t\t</DataField>\n\t\t<DataField name="age" optype="continuous" dataType="integer"/>\n\t\t<DataField name="education_num" optype="continuous" dataType="integer"/>\n\t\t<DataField name="capital_gain" optype="continuous" dataType="integer"/>\n\t\t<DataField name="capital_loss" optype="continuous" dataType="integer"/>\n\t\t<DataField name="hours_per_week" optype="continuous" dataType="integer"/>\n\t</DataDictionary>\n\t<TreeModel functionName="classification" splitCharacteristic="binarySplit">\n\t\t<MiningSchema>\n\t\t\t<MiningField name="income" usageType="target"/>\n\t\t\t<MiningField name="workclass"/>\n\t\t\t<MiningField name="education"/>\n\t\t\t<MiningField name="marital_status"/>\n\t\t\t<MiningField name="occupation"/>\n\t\t\t<MiningField name="native_country"/>\n\t\t\t<MiningField name="age"/>\n\t\t\t<MiningField name="education_num"/>\n\t\t\t<MiningField name="capital_gain"/>\n\t\t\t<MiningField name="capital_loss"/>\n\t\t\t<MiningField name="hours_per_week"/>\n\t\t</MiningSchema>\n\t\t<Output>\n\t\t\t<OutputField name="probability_&lt;=50K" dataType="double" feature="probability" value="&lt;=50K"/>\n\t\t\t<OutputField name="probability_&gt;50K" dataType="double" feature="probability" value="&gt;50K"/>\n\t\t</Output>\n\t\t<Node score="&lt;=50K" recordCount="45222.0">\n\t\t\t<True/>\n\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="34014.0"/>\n\t\t\t<ScoreDistribution value="&gt;50K" recordCount="11208.0"/>\n\t\t\t<Node score="&lt;=50K" recordCount="24167.0">\n\t\t\t\t<SimplePredicate field="marital_status" operator="notEqual" value="Married-civ-spouse"/>\n\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="22523.0"/>\n\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1644.0"/>\n\t\t\t\t<Node score="&lt;=50K" recordCount="23744.0">\n\t\t\t\t\t<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7443"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="22516.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1228.0"/>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="22397.0">\n\t\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="13"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="21525.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="872.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="17985.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="42"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="17578.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="407.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="10453.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="33"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="10374.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="79.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="7532.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="33"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="7204.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="328.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="4412.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="42"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3947.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="465.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="3327.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="education" operator="notEqual" value="Bachelors"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3098.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="229.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1085.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="education" operator="equal" value="Bachelors"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="849.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="236.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="1347.0">\n\t\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="13"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="991.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="356.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="813.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="667.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="146.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="210.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="200.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="10.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="603.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="467.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="136.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="534.0">\n\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="324.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="210.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="133.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="110.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="23.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="401.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="32"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="214.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="187.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t</Node>\n\t\t\t\t<Node score="&gt;50K" recordCount="423.0">\n\t\t\t\t\t<SimplePredicate field="capital_gain" operator="greaterThan" value="7443"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="7.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="416.0"/>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="4.0">\n\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="20"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="3.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education" operator="notEqual" value="Some-college"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="1.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education" operator="equal" value="Some-college"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1.0"/>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t\t<Node score="&gt;50K" recordCount="419.0">\n\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="20"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="4.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="415.0"/>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="4.0">\n\t\t\t\t\t\t\t<SimplePredicate field="occupation" operator="equal" value="Protective-serv"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3.0"/>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="3.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="36"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="36"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="415.0">\n\t\t\t\t\t\t\t<SimplePredicate field="occupation" operator="notEqual" value="Protective-serv"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="412.0"/>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="344.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="54"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="344.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="71.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="54"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="68.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t</Node>\n\t\t\t</Node>\n\t\t\t<Node score="&lt;=50K" recordCount="21055.0">\n\t\t\t\t<SimplePredicate field="marital_status" operator="equal" value="Married-civ-spouse"/>\n\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="11491.0"/>\n\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="9564.0"/>\n\t\t\t\t<Node score="&lt;=50K" recordCount="14790.0">\n\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="12"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="9782.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="5008.0"/>\n\t\t\t\t\t<Node score="&lt;=50K" recordCount="14384.0">\n\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7443"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="9772.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="4612.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="2318.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="8"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="2051.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="267.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1744.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1588.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="156.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="574.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="463.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="111.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="12066.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="8"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="7721.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="4345.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="4012.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="lessOrEqual" value="35"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="3038.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="974.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="8054.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="age" operator="greaterThan" value="35"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="4683.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3371.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t\t<Node score="&gt;50K" recordCount="406.0">\n\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="greaterThan" value="7443"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="10.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="396.0"/>\n\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="lessOrEqual" value="1"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="405.0">\n\t\t\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="1"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="9.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="396.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="1.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="native_country" operator="equal" value="South"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="404.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="native_country" operator="notEqual" value="South"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="8.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="396.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t</Node>\n\t\t\t\t<Node score="&gt;50K" recordCount="6265.0">\n\t\t\t\t\t<SimplePredicate field="education_num" operator="greaterThan" value="12"/>\n\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1709.0"/>\n\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="4556.0"/>\n\t\t\t\t\t<Node score="&gt;50K" recordCount="5506.0">\n\t\t\t\t\t\t<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7443"/>\n\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1707.0"/>\n\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3799.0"/>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="4953.0">\n\t\t\t\t\t\t\t<SimplePredicate field="capital_loss" operator="lessOrEqual" value="1825"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1690.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3263.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="398.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="34"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="235.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="163.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="4555.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="hours_per_week" operator="greaterThan" value="34"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1455.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="3100.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t<Node score="&gt;50K" recordCount="553.0">\n\t\t\t\t\t\t\t<SimplePredicate field="capital_loss" operator="greaterThan" value="1825"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="17.0"/>\n\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="536.0"/>\n\t\t\t\t\t\t\t<Node score="&lt;=50K" recordCount="2.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="native_country" operator="equal" value="Iran"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="1.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t\t<Node score="&gt;50K" recordCount="551.0">\n\t\t\t\t\t\t\t\t<SimplePredicate field="native_country" operator="notEqual" value="Iran"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&lt;=50K" recordCount="16.0"/>\n\t\t\t\t\t\t\t\t<ScoreDistribution value="&gt;50K" recordCount="535.0"/>\n\t\t\t\t\t\t\t</Node>\n\t\t\t\t\t\t</Node>\n\t\t\t\t\t</Node>\n\t\t\t\t\t<Node score="&gt;50K" recordCount="759.0">\n\t\t\t\t\t\t<SimplePredicate field="capi

## Deployment Option 1:  Mutable Model Deployment

### Deploy New Model to Existing Model Server

In [14]:
import urllib.request

update_url = 'http://prediction/update-pmml/census'

update_headers = {}
update_headers['Content-type'] = 'application/xml'

req = urllib.request.Request(update_url, headers=update_headers, data=pmmlBytes)
resp = urllib.request.urlopen(req)

print(resp.status) # Should return Http Status 200

200

### Test New Model on Existing Model Server

In [15]:
import urllib.parse
import json

evaluate_url = 'http://prediction/evaluate-pmml/census'

evaluate_headers = {}
evaluate_headers['Content-type'] = 'application/json'
input_params = '{"age":39,"workclass":"State-gov","education":"Bachelors","education_num":13,"marital_status":"Never-married","occupation":"Adm-clerical","relationship":"Not-in-family","race":"White","sex":"Male","capital_gain":2174,"capital_loss":0,"hours_per_week":40,"native_country":"United-States"}' 
encoded_input_params = input_params.encode('utf-8')

req = urllib.request.Request(evaluate_url, headers=evaluate_headers, data=encoded_input_params)
resp = urllib.request.urlopen(req)

print(resp.read()) # Should return valid classification with probabilities

b'{"results":[[{\'income\': \'NodeScoreDistribution{result=<=50K, probability_entries=[<=50K=0.9564524694636218, >50K=0.04354753053637812], entityId=7, confidence_entries=[]}\'}]]'

## Deployment Option 2:  Immutable Model Deployment

### Save Model and Commit to Github

In [16]:
!mkdir -p pmml

with open('/root/source.ml/demos.ml/serving/data/census/census.pmml', 'wb') as f:
  f.write(pmmlBytes)

!cat /root/source.ml/demos.ml/serving/data/census/census.pmml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<PMML xmlns="http://www.dmg.org/PMML-4_3" version="4.3">
	<Header>
		<Application/>
		<Timestamp>2016-11-06T18:50:11Z</Timestamp>
	</Header>
	<DataDictionary>
		<DataField name="income" optype="categorical" dataType="string">
			<Value value="&lt;=50K"/>
			<Value value="&gt;50K"/>
		</DataField>
		<DataField name="workclass" optype="categorical" dataType="string">
			<Value value="Private"/>
			<Value value="Self-emp-not-inc"/>
			<Value value="Local-gov"/>
			<Value value="State-gov"/>
			<Value value="Self-emp-inc"/>
			<Value value="Federal-gov"/>
			<Value value="Without-pay"/>
		</DataField>
		<DataField name="education" optype="categorical" dataType="string">
			<Value value="HS-grad"/>
			<Value value="Some-college"/>
			<Value value="Bachelors"/>
			<Value value="Masters"/>
			<Value value="Assoc-voc"/>
			<Value value="11th"/>
			<Value value="Assoc-acdm"/>
			<Value value="10th"/>
			<Value value="7th-8th"/>
			<Value value="Prof-school"/>
			<Value value="9th"/>
			<Value value="12th"/>
			<Value value="Doctorate"/>
			<Value value="5th-6th"/>
			<Value value="1st-4th"/>
			<Value value="Preschool"/>
		</DataField>
		<DataField name="marital_status" optype="categorical" dataType="string">
			<Value value="Married-civ-spouse"/>
			<Value value="Never-married"/>
			<Value value="Divorced"/>
			<Value value="Separated"/>
			<Value value="Widowed"/>
			<Value value="Married-spouse-absent"/>
			<Value value="Married-AF-spouse"/>
		</DataField>
		<DataField name="occupation" optype="categorical" dataType="string">
			<Value value="Craft-repair"/>
			<Value value="Prof-specialty"/>
			<Value value="Exec-managerial"/>
			<Value value="Adm-clerical"/>
			<Value value="Sales"/>
			<Value value="Other-service"/>
			<Value value="Machine-op-inspct"/>
			<Value value="Transport-moving"/>
			<Value value="Handlers-cleaners"/>
			<Value value="Farming-fishing"/>
			<Value value="Tech-support"/>
			<Value value="Protective-serv"/>
			<Value value="Priv-house-serv"/>
			<Value value="Armed-Forces"/>
		</DataField>
		<DataField name="native_country" optype="categorical" dataType="string">
			<Value value="United-States"/>
			<Value value="Mexico"/>
			<Value value="Philippines"/>
			<Value value="Germany"/>
			<Value value="Puerto-Rico"/>
			<Value value="Canada"/>
			<Value value="India"/>
			<Value value="El-Salvador"/>
			<Value value="Cuba"/>
			<Value value="England"/>
			<Value value="China"/>
			<Value value="Jamaica"/>
			<Value value="South"/>
			<Value value="Italy"/>
			<Value value="Dominican-Republic"/>
			<Value value="Japan"/>
			<Value value="Guatemala"/>
			<Value value="Vietnam"/>
			<Value value="Columbia"/>
			<Value value="Poland"/>
			<Value value="Haiti"/>
			<Value value="Portugal"/>
			<Value value="Iran"/>
			<Value value="Taiwan"/>
			<Value value="Greece"/>
			<Value value="Nicaragua"/>
			<Value value="Peru"/>
			<Value value="Ecuador"/>
			<Value value="Ireland"/>
			<Value value="France"/>
			<Value value="Thailand"/>
			<Value value="Hong"/>
			<Value value="Trinadad&amp;Tobago"/>
			<Value value="Cambodia"/>
			<Value value="Yugoslavia"/>
			<Value value="Outlying-US(Guam-USVI-etc)"/>
			<Value value="Laos"/>
			<Value value="Scotland"/>
			<Value value="Honduras"/>
			<Value value="Hungary"/>
			<Value value="Holand-Netherlands"/>
		</DataField>
		<DataField name="age" optype="continuous" dataType="integer"/>
		<DataField name="education_num" optype="continuous" dataType="integer"/>
		<DataField name="capital_gain" optype="continuous" dataType="integer"/>
		<DataField name="capital_loss" optype="continuous" dataType="integer"/>
		<DataField name="hours_per_week" optype="continuous" dataType="integer"/>
	</DataDictionary>
	<TreeModel functionName="classification" splitCharacteristic="binarySplit">
		<MiningSchema>
			<MiningField name="income" usageType="target"/>
			<MiningField name="workclass"/>
			<MiningField name="education"/>
			<MiningField name="marital_status"/>
			<MiningField name="occupation"/>
			<MiningField name="native_country"/>
			<MiningField name="age"/>
			<MiningField name="education_num"/>
			<MiningField name="capital_gain"/>
			<MiningField name="capital_loss"/>
			<MiningField name="hours_per_week"/>
		</MiningSchema>
		<Output>
			<OutputField name="probability_&lt;=50K" dataType="double" feature="probability" value="&lt;=50K"/>
			<OutputField name="probability_&gt;50K" dataType="double" feature="probability" value="&gt;50K"/>
		</Output>
		<Node score="&lt;=50K" recordCount="45222.0">
			<True/>
			<ScoreDistribution value="&lt;=50K" recordCount="34014.0"/>
			<ScoreDistribution value="&gt;50K" recordCount="11208.0"/>
			<Node score="&lt;=50K" recordCount="24167.0">
				<SimplePredicate field="marital_status" operator="notEqual" value="Married-civ-spouse"/>
				<ScoreDistribution value="&lt;=50K" recordCount="22523.0"/>
				<ScoreDistribution value="&gt;50K" recordCount="1644.0"/>
				<Node score="&lt;=50K" recordCount="23744.0">
					<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7443"/>
					<ScoreDistribution value="&lt;=50K" recordCount="22516.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="1228.0"/>
					<Node score="&lt;=50K" recordCount="22397.0">
						<SimplePredicate field="education_num" operator="lessOrEqual" value="13"/>
						<ScoreDistribution value="&lt;=50K" recordCount="21525.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="872.0"/>
						<Node score="&lt;=50K" recordCount="17985.0">
							<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="42"/>
							<ScoreDistribution value="&lt;=50K" recordCount="17578.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="407.0"/>
							<Node score="&lt;=50K" recordCount="10453.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="33"/>
								<ScoreDistribution value="&lt;=50K" recordCount="10374.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="79.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="7532.0">
								<SimplePredicate field="age" operator="greaterThan" value="33"/>
								<ScoreDistribution value="&lt;=50K" recordCount="7204.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="328.0"/>
							</Node>
						</Node>
						<Node score="&lt;=50K" recordCount="4412.0">
							<SimplePredicate field="hours_per_week" operator="greaterThan" value="42"/>
							<ScoreDistribution value="&lt;=50K" recordCount="3947.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="465.0"/>
							<Node score="&lt;=50K" recordCount="3327.0">
								<SimplePredicate field="education" operator="notEqual" value="Bachelors"/>
								<ScoreDistribution value="&lt;=50K" recordCount="3098.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="229.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="1085.0">
								<SimplePredicate field="education" operator="equal" value="Bachelors"/>
								<ScoreDistribution value="&lt;=50K" recordCount="849.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="236.0"/>
							</Node>
						</Node>
					</Node>
					<Node score="&lt;=50K" recordCount="1347.0">
						<SimplePredicate field="education_num" operator="greaterThan" value="13"/>
						<ScoreDistribution value="&lt;=50K" recordCount="991.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="356.0"/>
						<Node score="&lt;=50K" recordCount="813.0">
							<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>
							<ScoreDistribution value="&lt;=50K" recordCount="667.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="146.0"/>
							<Node score="&lt;=50K" recordCount="210.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="200.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="10.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="603.0">
								<SimplePredicate field="age" operator="greaterThan" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="467.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="136.0"/>
							</Node>
						</Node>
						<Node score="&lt;=50K" recordCount="534.0">
							<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>
							<ScoreDistribution value="&lt;=50K" recordCount="324.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="210.0"/>
							<Node score="&lt;=50K" recordCount="133.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="110.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="23.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="401.0">
								<SimplePredicate field="age" operator="greaterThan" value="32"/>
								<ScoreDistribution value="&lt;=50K" recordCount="214.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="187.0"/>
							</Node>
						</Node>
					</Node>
				</Node>
				<Node score="&gt;50K" recordCount="423.0">
					<SimplePredicate field="capital_gain" operator="greaterThan" value="7443"/>
					<ScoreDistribution value="&lt;=50K" recordCount="7.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="416.0"/>
					<Node score="&lt;=50K" recordCount="4.0">
						<SimplePredicate field="age" operator="lessOrEqual" value="20"/>
						<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="1.0"/>
						<Node score="&lt;=50K" recordCount="3.0">
							<SimplePredicate field="education" operator="notEqual" value="Some-college"/>
							<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>
						</Node>
						<Node score="&gt;50K" recordCount="1.0">
							<SimplePredicate field="education" operator="equal" value="Some-college"/>
							<ScoreDistribution value="&gt;50K" recordCount="1.0"/>
						</Node>
					</Node>
					<Node score="&gt;50K" recordCount="419.0">
						<SimplePredicate field="age" operator="greaterThan" value="20"/>
						<ScoreDistribution value="&lt;=50K" recordCount="4.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="415.0"/>
						<Node score="&gt;50K" recordCount="4.0">
							<SimplePredicate field="occupation" operator="equal" value="Protective-serv"/>
							<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="3.0"/>
							<Node score="&gt;50K" recordCount="3.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="36"/>
								<ScoreDistribution value="&gt;50K" recordCount="3.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="1.0">
								<SimplePredicate field="age" operator="greaterThan" value="36"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							</Node>
						</Node>
						<Node score="&gt;50K" recordCount="415.0">
							<SimplePredicate field="occupation" operator="notEqual" value="Protective-serv"/>
							<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="412.0"/>
							<Node score="&gt;50K" recordCount="344.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="54"/>
								<ScoreDistribution value="&gt;50K" recordCount="344.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="71.0">
								<SimplePredicate field="age" operator="greaterThan" value="54"/>
								<ScoreDistribution value="&lt;=50K" recordCount="3.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="68.0"/>
							</Node>
						</Node>
					</Node>
				</Node>
			</Node>
			<Node score="&lt;=50K" recordCount="21055.0">
				<SimplePredicate field="marital_status" operator="equal" value="Married-civ-spouse"/>
				<ScoreDistribution value="&lt;=50K" recordCount="11491.0"/>
				<ScoreDistribution value="&gt;50K" recordCount="9564.0"/>
				<Node score="&lt;=50K" recordCount="14790.0">
					<SimplePredicate field="education_num" operator="lessOrEqual" value="12"/>
					<ScoreDistribution value="&lt;=50K" recordCount="9782.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="5008.0"/>
					<Node score="&lt;=50K" recordCount="14384.0">
						<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7443"/>
						<ScoreDistribution value="&lt;=50K" recordCount="9772.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="4612.0"/>
						<Node score="&lt;=50K" recordCount="2318.0">
							<SimplePredicate field="education_num" operator="lessOrEqual" value="8"/>
							<ScoreDistribution value="&lt;=50K" recordCount="2051.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="267.0"/>
							<Node score="&lt;=50K" recordCount="1744.0">
								<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="43"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1588.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="156.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="574.0">
								<SimplePredicate field="hours_per_week" operator="greaterThan" value="43"/>
								<ScoreDistribution value="&lt;=50K" recordCount="463.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="111.0"/>
							</Node>
						</Node>
						<Node score="&lt;=50K" recordCount="12066.0">
							<SimplePredicate field="education_num" operator="greaterThan" value="8"/>
							<ScoreDistribution value="&lt;=50K" recordCount="7721.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="4345.0"/>
							<Node score="&lt;=50K" recordCount="4012.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="35"/>
								<ScoreDistribution value="&lt;=50K" recordCount="3038.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="974.0"/>
							</Node>
							<Node score="&lt;=50K" recordCount="8054.0">
								<SimplePredicate field="age" operator="greaterThan" value="35"/>
								<ScoreDistribution value="&lt;=50K" recordCount="4683.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="3371.0"/>
							</Node>
						</Node>
					</Node>
					<Node score="&gt;50K" recordCount="406.0">
						<SimplePredicate field="capital_gain" operator="greaterThan" value="7443"/>
						<ScoreDistribution value="&lt;=50K" recordCount="10.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="396.0"/>
						<Node score="&lt;=50K" recordCount="1.0">
							<SimplePredicate field="education_num" operator="lessOrEqual" value="1"/>
							<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
						</Node>
						<Node score="&gt;50K" recordCount="405.0">
							<SimplePredicate field="education_num" operator="greaterThan" value="1"/>
							<ScoreDistribution value="&lt;=50K" recordCount="9.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="396.0"/>
							<Node score="&lt;=50K" recordCount="1.0">
								<SimplePredicate field="native_country" operator="equal" value="South"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="404.0">
								<SimplePredicate field="native_country" operator="notEqual" value="South"/>
								<ScoreDistribution value="&lt;=50K" recordCount="8.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="396.0"/>
							</Node>
						</Node>
					</Node>
				</Node>
				<Node score="&gt;50K" recordCount="6265.0">
					<SimplePredicate field="education_num" operator="greaterThan" value="12"/>
					<ScoreDistribution value="&lt;=50K" recordCount="1709.0"/>
					<ScoreDistribution value="&gt;50K" recordCount="4556.0"/>
					<Node score="&gt;50K" recordCount="5506.0">
						<SimplePredicate field="capital_gain" operator="lessOrEqual" value="7443"/>
						<ScoreDistribution value="&lt;=50K" recordCount="1707.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="3799.0"/>
						<Node score="&gt;50K" recordCount="4953.0">
							<SimplePredicate field="capital_loss" operator="lessOrEqual" value="1825"/>
							<ScoreDistribution value="&lt;=50K" recordCount="1690.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="3263.0"/>
							<Node score="&lt;=50K" recordCount="398.0">
								<SimplePredicate field="hours_per_week" operator="lessOrEqual" value="34"/>
								<ScoreDistribution value="&lt;=50K" recordCount="235.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="163.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="4555.0">
								<SimplePredicate field="hours_per_week" operator="greaterThan" value="34"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1455.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="3100.0"/>
							</Node>
						</Node>
						<Node score="&gt;50K" recordCount="553.0">
							<SimplePredicate field="capital_loss" operator="greaterThan" value="1825"/>
							<ScoreDistribution value="&lt;=50K" recordCount="17.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="536.0"/>
							<Node score="&lt;=50K" recordCount="2.0">
								<SimplePredicate field="native_country" operator="equal" value="Iran"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="1.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="551.0">
								<SimplePredicate field="native_country" operator="notEqual" value="Iran"/>
								<ScoreDistribution value="&lt;=50K" recordCount="16.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="535.0"/>
							</Node>
						</Node>
					</Node>
					<Node score="&gt;50K" recordCount="759.0">
						<SimplePredicate field="capital_gain" operator="greaterThan" value="7443"/>
						<ScoreDistribution value="&lt;=50K" recordCount="2.0"/>
						<ScoreDistribution value="&gt;50K" recordCount="757.0"/>
						<Node score="&gt;50K" recordCount="6.0">
							<SimplePredicate field="occupation" operator="equal" value="Farming-fishing"/>
							<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="5.0"/>
							<Node score="&lt;=50K" recordCount="1.0">
								<SimplePredicate field="workclass" operator="equal" value="Self-emp-not-inc"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="5.0">
								<SimplePredicate field="workclass" operator="notEqual" value="Self-emp-not-inc"/>
								<ScoreDistribution value="&gt;50K" recordCount="5.0"/>
							</Node>
						</Node>
						<Node score="&gt;50K" recordCount="753.0">
							<SimplePredicate field="occupation" operator="notEqual" value="Farming-fishing"/>
							<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
							<ScoreDistribution value="&gt;50K" recordCount="752.0"/>
							<Node score="&gt;50K" recordCount="710.0">
								<SimplePredicate field="age" operator="lessOrEqual" value="65"/>
								<ScoreDistribution value="&gt;50K" recordCount="710.0"/>
							</Node>
							<Node score="&gt;50K" recordCount="43.0">
								<SimplePredicate field="age" operator="greaterThan" value="65"/>
								<ScoreDistribution value="&lt;=50K" recordCount="1.0"/>
								<ScoreDistribution value="&gt;50K" recordCount="42.0"/>
							</Node>
						</Node>
					</Node>
				</Node>
			</Node>
		</Node>
	</TreeModel>
</PMML>

### Deploy New Model Server with New Model from Github

In [43]:
!/root/datasticks-switch-aws.sh

switched to context "aws_k8s".

In [44]:
!/root/datasticks-update.sh

replicationcontroller "prediction" deleted
replicationcontroller "prediction" created

In [19]:
!kubectl get pod

NAME                       READY     STATUS              RESTARTS   AGE
airflow-vf2md              1/1       Running             0          14h
airpal-0gqce               1/1       Running             0          14h
apache-yovfe               1/1       Running             0          14h
cassandra-mp6bg            1/1       Running             0          14h
jupyterhub-master-07ulz    1/1       Running             0          14h
kafka-0-10-hraqs           1/1       Running             0          14h
metastore-1-2-1-sadsp      1/1       Running             0          14h
mysql-master-a5kwy         1/1       Running             0          14h
netflix-9smp1              1/1       Running             0          14h
prediction-90l0w           0/1       ContainerCreating   0          0s
prediction-y8t6y           1/1       Terminating         0          11m
presto-master-2uvy6        1/1       Running             0          14h
presto-worker-lra3n        1/1       Running             0          14h
redis-master-94uc4         1/1       Running             0          14h
spark-master-2-0-1-kf24h   1/1       Running             0          14h
spark-worker-2-0-1-2rxn2   1/1       Running             0          1m
spark-worker-2-0-1-bzjj4   1/1       Running             0          1m
spark-worker-2-0-1-ji485   1/1       Running             0          1m
spark-worker-2-0-1-mcfn1   1/1       Running             0          14h
spark-worker-2-0-1-obekj   1/1       Running             0          1m
weavescope-app-cqrsz       1/1       Running             0          3h
weavescope-probe-cu7a7     1/1       Running             0          3h
weavescope-probe-kh2ut     1/1       Running             0          3h
zeppelin-master-78gr0      1/1       Running             0          14h
zookeeper-o0fsw            1/1       Running             0          14h

## Deploy New Prediction Server to Google Cloud

In [45]:
!/root/datasticks-switch-gcp.sh

switched to context "gcp_k8s".

In [46]:
!kubectl get pod

NAME                     READY     STATUS    RESTARTS   AGE
prediction-orsiy         1/1       Running   0          51m
weavescope-app-tuu78     1/1       Running   0          4h
weavescope-probe-svg88   1/1       Running   0          4h

In [22]:
!/root/datasticks-update.sh

replicationcontroller "prediction" deleted
replicationcontroller "prediction" created

In [47]:
!kubectl get pod

NAME                     READY     STATUS    RESTARTS   AGE
prediction-orsiy         1/1       Running   0          51m
weavescope-app-tuu78     1/1       Running   0          4h
weavescope-probe-svg88   1/1       Running   0          4h

## Load Test Predictions Across AWS and Google Cloud

http://netflix.demo.datasticks.com/hystrix-dashboard/monitor/monitor.html?streams=%5B%7B%22name%22%3A%22%22%2C%22stream%22%3A%22http%3A%2F%2Fprediction-aws.demo.datasticks.com%2Fhystrix.stream%22%2C%22auth%22%3A%22%22%2C%22delay%22%3A%22%22%7D%2C%7B%22name%22%3A%22%22%2C%22stream%22%3A%22http%3A%2F%2Fprediction-gcp.demo.datasticks.com%2Fhystrix.stream%22%2C%22auth%22%3A%22%22%2C%22delay%22%3A%22%22%7D%5D

## Scale Model Servers

In [24]:
!/root/datasticks-switch-aws.sh

switched to context "aws_k8s".

In [25]:
!kubectl get pod

NAME                       READY     STATUS              RESTARTS   AGE
airflow-vf2md              1/1       Running             0          14h
airpal-0gqce               1/1       Running             0          14h
apache-yovfe               1/1       Running             0          14h
cassandra-mp6bg            1/1       Running             0          14h
jupyterhub-master-07ulz    1/1       Running             0          14h
kafka-0-10-hraqs           1/1       Running             0          14h
metastore-1-2-1-sadsp      1/1       Running             0          14h
mysql-master-a5kwy         1/1       Running             0          14h
netflix-9smp1              1/1       Running             0          14h
prediction-90l0w           0/1       ContainerCreating   0          3s
prediction-y8t6y           1/1       Terminating         0          11m
presto-master-2uvy6        1/1       Running             0          14h
presto-worker-lra3n        1/1       Running             0          14h
redis-master-94uc4         1/1       Running             0          14h
spark-master-2-0-1-kf24h   1/1       Running             0          14h
spark-worker-2-0-1-2rxn2   1/1       Running             0          1m
spark-worker-2-0-1-bzjj4   1/1       Running             0          1m
spark-worker-2-0-1-ji485   1/1       Running             0          1m
spark-worker-2-0-1-mcfn1   1/1       Running             0          14h
spark-worker-2-0-1-obekj   1/1       Running             0          1m
weavescope-app-cqrsz       1/1       Running             0          3h
weavescope-probe-cu7a7     1/1       Running             0          3h
weavescope-probe-kh2ut     1/1       Running             0          3h
zeppelin-master-78gr0      1/1       Running             0          14h
zookeeper-o0fsw            1/1       Running             0          14h

In [26]:
!/root/datasticks-scale-prediction-up.sh

replicationcontroller "prediction" scaled

In [27]:
!kubectl get pod

NAME                       READY     STATUS              RESTARTS   AGE
airflow-vf2md              1/1       Running             0          14h
airpal-0gqce               1/1       Running             0          14h
apache-yovfe               1/1       Running             0          14h
cassandra-mp6bg            1/1       Running             0          14h
jupyterhub-master-07ulz    1/1       Running             0          14h
kafka-0-10-hraqs           1/1       Running             0          14h
metastore-1-2-1-sadsp      1/1       Running             0          14h
mysql-master-a5kwy         1/1       Running             0          14h
netflix-9smp1              1/1       Running             0          14h
prediction-90l0w           0/1       ContainerCreating   0          3s
prediction-ft8i8           0/1       ContainerCreating   0          0s
prediction-judy3           0/1       ContainerCreating   0          0s
prediction-qam5w           0/1       ContainerCreating   0          0s
prediction-ssiqs           0/1       ContainerCreating   0          0s
prediction-y8t6y           1/1       Terminating         0          11m
presto-master-2uvy6        1/1       Running             0          14h
presto-worker-lra3n        1/1       Running             0          14h
redis-master-94uc4         1/1       Running             0          14h
spark-master-2-0-1-kf24h   1/1       Running             0          14h
spark-worker-2-0-1-2rxn2   1/1       Running             0          1m
spark-worker-2-0-1-bzjj4   1/1       Running             0          1m
spark-worker-2-0-1-ji485   1/1       Running             0          1m
spark-worker-2-0-1-mcfn1   1/1       Running             0          14h
spark-worker-2-0-1-obekj   1/1       Running             0          1m
weavescope-app-cqrsz       1/1       Running             0          3h
weavescope-probe-cu7a7     1/1       Running             0          3h
weavescope-probe-kh2ut     1/1       Running             0          3h
zeppelin-master-78gr0      1/1       Running             0          14h
zookeeper-o0fsw            1/1       Running             0          14h

http://kubernetes-aws.demo.datasticks.com/

In [48]:
!/root/datasticks-switch-gcp.sh

switched to context "gcp_k8s".

In [49]:
!/root/datasticks-scale-prediction-up.sh

replicationcontroller "prediction" scaled

In [50]:
!kubectl get pod

NAME                     READY     STATUS              RESTARTS   AGE
prediction-8tr6h         0/1       ContainerCreating   0          3s
prediction-fwpdf         0/1       ContainerCreating   0          3s
prediction-i7zib         0/1       ContainerCreating   0          3s
prediction-orsiy         1/1       Running             0          55m
prediction-w1ieu         0/1       ContainerCreating   0          3s
weavescope-app-tuu78     1/1       Running             0          4h
weavescope-probe-svg88   1/1       Running             0          4h

http://kubernetes-gcp.demo.datasticks.com/

## Cleanup

In [31]:
!/root/datasticks-switch-aws.sh

switched to context "aws_k8s".

In [32]:
!/root/datasticks-scale-prediction-down.sh

replicationcontroller "prediction" scaled

In [33]:
!/root/datasticks-scale-spark-down.sh

replicationcontroller "spark-worker-2-0-1" scaled

In [34]:
!kubectl get pod

NAME                       READY     STATUS              RESTARTS   AGE
airflow-vf2md              1/1       Running             0          14h
airpal-0gqce               1/1       Running             0          14h
apache-yovfe               1/1       Running             0          14h
cassandra-mp6bg            1/1       Running             0          14h
jupyterhub-master-07ulz    1/1       Running             0          14h
kafka-0-10-hraqs           1/1       Running             0          14h
metastore-1-2-1-sadsp      1/1       Running             0          14h
mysql-master-a5kwy         1/1       Running             0          14h
netflix-9smp1              1/1       Running             0          14h
prediction-90l0w           0/1       ContainerCreating   0          5s
prediction-ft8i8           0/1       Terminating         0          2s
prediction-judy3           0/1       Terminating         0          2s
prediction-qam5w           0/1       Terminating         0          2s
prediction-ssiqs           0/1       Terminating         0          2s
prediction-y8t6y           1/1       Terminating         0          11m
presto-master-2uvy6        1/1       Running             0          14h
presto-worker-lra3n        1/1       Running             0          14h
redis-master-94uc4         1/1       Running             0          14h
spark-master-2-0-1-kf24h   1/1       Running             0          14h
spark-worker-2-0-1-2rxn2   1/1       Terminating         0          1m
spark-worker-2-0-1-bzjj4   1/1       Terminating         0          1m
spark-worker-2-0-1-ji485   1/1       Terminating         0          1m
spark-worker-2-0-1-mcfn1   1/1       Running             0          14h
spark-worker-2-0-1-obekj   1/1       Terminating         0          1m
weavescope-app-cqrsz       1/1       Running             0          3h
weavescope-probe-cu7a7     1/1       Running             0          3h
weavescope-probe-kh2ut     1/1       Running             0          3h
zeppelin-master-78gr0      1/1       Running             0          14h
zookeeper-o0fsw            1/1       Running             0          14h

http://kubernetes-aws.demo.datasticks.com/

In [51]:
!/root/datasticks-switch-gcp.sh

switched to context "gcp_k8s".

In [52]:
!/root/datasticks-scale-prediction-down.sh

replicationcontroller "prediction" scaled

In [37]:
!kubectl get pod

NAME                     READY     STATUS              RESTARTS   AGE
prediction-iwy1u         0/1       Terminating         0          3s
prediction-jjtk2         0/1       Terminating         0          3s
prediction-lpxfv         0/1       Terminating         0          3s
prediction-mhy11         0/1       Terminating         0          3s
prediction-orsiy         0/1       ContainerCreating   0          5s
prediction-se309         1/1       Terminating         0          11m
weavescope-app-tuu78     1/1       Running             0          3h
weavescope-probe-svg88   1/1       Running             0          3h

http://kubernetes-gcp.demo.datasticks.com/